.home-container {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    border: 1px red solid;
}

.banner-card {
    background-color: #00285F;
    border: 1px orange solid;
    border-radius: 10px;
}

.banner-content-container h1 {
    border: 1px white solid;
}

.banner-content-container h1 {
    font-size: 1em;
    color: #FFFFFF;
}

.banner-image-container {
    padding: 0, 28px;
    border: 1px purple solid;
}

.banner-image-container img {
    width: 100%;
    height: auto;
}