.home-container {
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    text-align: center;
}

.banner-card {
    background-color: #00285F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content-container h1 {
    font-size: 1em;
    color: #FFFFFF;
    font-weight: 700;

    margin-bottom: 13px;
}

.banner-content-container p {
    color: #d8d8d8;
    font-size: 0.54em;
    font-weight: 400;
    width: 250px;
    margin-bottom: 47px;
    text-align: center;
    line-height: 16px;
}

.banner-image-container {
    padding: 62px 28px 35px 28px;
}

.banner-image-container img {
    width: 100%;
    height: auto;
}

.card-home-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfcfcf;
    border-radius: 10px;
    margin-top: 21px;
    padding: 28px 51px 25px 51px;
    font-size: 18px;
}

.card-home-catalog p {
    color: #585858;
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 5px;
}

.card-home-catalog button {
    background-color: #00285F;
    border-radius: 5px;
    width: 174px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
}

@media (min-width: 576px) {

    .home-container {
        padding: 30px 20px 10px;
        font-size: 36px;
    }

    .banner-content-container h1 {
        width: 480px;
    }
    
    .banner-content-container p {
        width: 470px;
        line-height: 21px;
    }

    .card-home-catalog {
        display: flex;
        flex-direction: row;
    }

    .card-home-catalog button {
        margin-right: 16px;
    }

    .banner-image-container img {
        width: 333px;
    }

    .card-home-catalog {
        margin-top: 30px;
        height: 123px;
    }

    .card-home-catalog {
        margin-top: 30px;
        height: 123px;
        padding-left: 81px;
    }

}

@media (min-width: 768px) {

    .banner-image-container {
        padding: 79px 198px 37px 198px;
    }

    .card-home-catalog {
        margin-top: 25px;
        padding-right: 254px;
    }

    .card-home-catalog p {
        line-height: 21px;
    }

    .banner-content-container p {
        line-height: 21px;
    }

}

@media (min-width: 992px) {

    .banner-card {
        padding-bottom: 23px;
    }

    .banner-image-container {
        padding: 82px 249px 17px 248px;
    }

    .banner-image-container img {
        width: 455px;
    }

    .banner-content-container h1 {
        margin-bottom: 5px;
        
    }
    
    .banner-content-container p {
        margin-bottom: 47px;
        line-height: 21px;
    }

    .card-home-catalog {
        margin-top: 30px;
        padding-right: 490px;
        padding-left: 85px;
    }

    .card-home-catalog p {
        line-height: 21px;
    }
}

@media (min-width: 1280px) {

    .home-container {
        padding: 30px 150px 255px 150px;
    }


    .banner-image-container {
        padding: 83px 78px 83px 63px;
    }

    .banner-image-container img {
        width: 333px;
        height: 199px;
    }

    .banner-card {
        display: flex;
        flex-direction: row-reverse;   
    }

    .banner-content-container {
        padding: 140px 0px 83px 0px;
        margin: 0;
        width: 420px;
        
    }

    .banner-content-container h1 {
        text-align: left;
        line-height: 42px;
        width: 420px;
        
    }
    
    .banner-content-container p {
        text-align: left;
        line-height: 21px;
    }


}