.search-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 86px;
}

.search-card button {
    border-radius: 0px 5px 5px 0px;
    height: 42px;
}

.search-card input {
    border: none;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    padding: 13px;
    outline:none;
    color:#A7A7A7;
    font-size: 14px;
}

@media(min-width: 576px) {

    .search-card {
        margin-bottom: 30px;
        height: 123px;
    }

    .search-card input {
        border: none;
        height: 40px;
        border-radius: 5px 0px 0px 5px;
        padding: 13px;
        outline:none;
        color:#A7A7A7;
        font-size: 14px;
        width: 320px;
    }

    .search-card button {
        border-radius: 0px 5px 5px 0px;
        height: 42px;
        width: 174px;
    }
}

@media(min-width: 768px) {

    .search-card {
        margin-bottom: 30px;
        height: 123px;
    }

    .search-card input {
        border: none;
        height: 40px;
        border-radius: 5px 0px 0px 5px;
        padding: 13px;
        outline:none;
        color:#A7A7A7;
        font-size: 14px;
        width: 516px;
    }

    .search-card button {
        border-radius: 0px 5px 5px 0px;
        height: 42px;
        width: 174px;
    }
}